.container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dice {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 50px 0;
  width: 50vw;
}

body {
  background-color: #3c2a21;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5vw;
  color: #d5cea3;
}
img {
  width: 50%;
}
#rollbtn {
  margin: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #e5e5cb;
  font-size: 20px;
}
footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
